<div class="container">
  
  <% if current_user %>
    <h3>Welcome: <%= current_user.email %></h3>
  <% else %>
    <div class="jumbotron">
      <h2>Welcome to the Photo Management App!</h2>
      <p class="lead">
        You'll love managing your Photos with our application. Sign up!
      </p>
    </div>
  
    <div class="row justify-content-center">
        <div class="col-6 plan">
          <div class="card">
            <h3 class="card-header card-header-rose">Premium Plan</h3>
            <div class="card-body">
              <div class="features">
                <div class="price pull-right">
                  Price: $10
                </div>
                <ul>
                  <li>Unlimited Image Uploads</li>
                  <li>Responsive design</li>
                  <li>Access anywhere</li>
                </ul>
              </div>
              <p>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-rose btn-lg sign-up' %>
              </p>
            </div>
              
          </div>
        </div>
          
        <div class="col-6 plan">
          <div class="card">
            <h3 class="card-header card-header-primary">Amaze Plan</h3>
            <div class="card-body">
              
              <div class="features">
                <div class="price pull-right">
                  Price: $20
                </div>
                <ul>
                  <li>Unlimited Image Uploads</li>
                  <li>Responsive design</li>
                  <li>Access anywhere</li>
                  <li class='text-primary'>Unlimited projects</li>
                </ul>
              </div>
              <p>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg sign-up' %>
              </p>
            </div>
        </div>
    </div>
    
<% end %>
</div>